<%= form_for [current_user,@project], html: { id: "edit_project_form" } do |f| %>
	<div id="page_wrapper">
		<h2>Project Editing</h2>


		<p>
			<p><%= f.label :name %></p>
			<p><%= f.text_field :name %></p>
		</p>

		<div class="field">
			<h2><%= f.label :Add_or_Remove_developers %></h2> 
				<br/>
			<ul>
				<%= hidden_field_tag :selected_users %>
					<% @developers.each do |d| @heading_flag=0%>
						<% if(@selected_developers_qa.include?(d.id)) %>
								<li> <%= d.name %>   <i id="bugzilla_user_<%= d.id.to_s %>" class="fas fa-times-circle">  </i> </li>
						<%else%>
								<li> <%= d.name %>   <i id="bugzilla_user_<%= d.id.to_s %>" class="fas fa-plus-circle">  </i> </li>
						<% end %>
					<%end%>
						<%if @heading_flag==0%>
							<h2><%= f.label :Add_OR_Remove_QA %></h2>
								<% @heading_flag=1%>
						<%end%>
					<% @qa.each do |q| %>
						<% if(@selected_developers_qa.include?(q.id)) %>
								<li> <%= q.name %>   <i id="bugzilla_user_<%= q.id.to_s %>" class="fas fa-times-circle">  </i> </li>
						<%else%>
								<li> <%= q.name %>   <i id="bugzilla_user_<%= q.id.to_s %>" class="fas fa-plus-circle">  </i> </li>
						<% end %>
				<%end%>
			</ul>
		</div>
		 
	<p>
		<%= f.submit%>
	</p>

	</div>

	
	

<% end %>