<div id="page_wrapper">
<div class="head">
    <h2 class="title">Login</h2>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-row m-b m-t">
    <!--<div class="name col-md-2"><%= f.label :email %></div><br />-->
   <div class="input-container col-md-9"><i class="icon far fa-envelope fa-2x"></i><%= f.email_field :email, autofocus: true, autocomplete: "email",id: "inputfield",placeholder: "Email" %></div>
  </div>


  <div class="field form-row m-b">
    <!--<div class="name col-md-2"><%= f.label :password %><br /></div>-->
    <div class="input-container col-md-9"><i class="icon fab fa-expeditedssl fa-2x"></i><%= f.password_field :password, autocomplete: "current-password",id: "inputfield",placeholder: "Password" %></div>
  </div>

  
  <div class="field m-b float_right">
  <% if devise_mapping.rememberable? %>
    <div class="field name col-md-2 frow">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>
 
  <div class="actions">
    <%= f.submit "Log in",class:"btn-log" %>
  </div>

 

<% end %>

<%= render "devise/shared/links" %>
</div>
