
<div class="container m-5 p-5 ">
	
	<div class="row">
		<div class="col-md-6 p-5">
			<div class="row "><p class="font-weight-bold mb-0 text-secondary">Bug Title:</p></div> 
			<div class="row mb-4 text-secondary"><%=  @bug.title %></div>
			<div class="row"><p class="font-weight-bold mb-0 text-secondary">Bug Type:</p></div> 
			<div class="row mb-3 text-secondary"> <%=  @bug.bug_type %> </div>
			<div class="row"><p class="font-weight-bold mb-0 text-secondary">Bug Description: </p></div>
			<div class="row"><p class="description mb-3 text-secondary"><%=@bug.description %> </p></div>
			<% if @bug.assign_to!=nil %><div class="row "><p class="font-weight-bold mb-0 text-secondary">Bug Assigned to:</p></div>
			<div class="row text-secondary"><%=@assign_developer.to_s %></div><% end %>
			<div class="user">
		</div>
			<div class="row"><p class="font-weight-bold mb-0 text-secondary">Bug Status:</p></div>
			<div class="row"><p class="description mb-3 text-secondary"><%=@bug.status %> </p></div>
		</div>
		<div class="col-md-6 text-center pb-4 float-right">
			<div class="screenshot  mt-5">
				<%if @bug.screenshot?%>
					<%=image_tag (@bug.screenshot.url),class: 'img-responsive'%>
				<%end%>
			</div>
		</div>	
	</div>
	
	<div class="col-md-12 p-5 float-left">	
		<div class="row">
			<%= form_for [current_user,@project,@bug] do |f| %>
				<% if @bug.assign_to == nil && current_user.developer?%>
					<div class = "field">
			    		<strong><%= f.label :Assign_ME %></strong> 
						<%= f.radio_button(:assign_to,current_user.id) %><br/>
						
			    	</div>
			    <% else %>
					<div class="field">
		    			<div class="row mt-4 ">
		    				<% if @bug.bug_type =="bug"%>
			    				<% if @bug.status != "resolved" && @bug.assign_to != nil%>
			    					<div class="row p-5"><strong><%= f.label :Mark_Bug_Resolved %></strong> 
									<%= f.radio_button(:status,'resolved') %><br/></div>
				    			<%end%>
				    		<% elsif @bug.bug_type == "feature"%>
				    			<% if @bug.status != "completed" && (@bug.assign_to != nil && current_user.user_type=="developer")%>
			    					<div class="row p-5"><strong><%= f.label :Mark_Bug_Resolved %></strong> 
									<%= f.radio_button(:status,'completed') %><br/></div>
				    			<%end%>

		    				<%end%>
		    			</div>
		    		<div class="field">
		    			
		    			<% if current_user.user_type=="manager" && (@bug.assign_to != nil && @bug.status !="resolved")%>
			    			<p class="font-weight-bold mb-0 text-secondary">Change Developer: </p>
			    			<%=f.select(:assign_to,current_user.id) do %>
							    <% @users.each do |l| -%>
							      <%= content_tag(:option, l.name, value: l.id) %>
							    <% end %>
							<% end %>
						<% elsif current_user.user_type=="manager" && @bug.assign_to == nil%>
							<p class="font-weight-bold mb-0 text-secondary">Add Developer: </p>
							<%=f.select(:assign_to,current_user.id) do %>
							    <% @users.each do |l| -%>
							      <%= content_tag(:option, l.name, value: l.id) %>
							    <% end %>
							<% end %>
						<%end%>
					</div>
						
					</div>
				<% end %>
					<% if @bug.status != "resolved" && @bug.status != "completed" %>
					 		<div class="action mt-4">
								<%= f.submit%>
							</div>
					<% end%>	
			<% end %>
		
		</div>
	</div>
</div>
